{% extends "shop/base.html" %}

{% block head_title%}
    {{ title }}
{% endblock %}

{% block head_extra %}
<style type="text/css">
    .price_range, .rating, .tags{margin-top: 10px;}
    .product_page{margin-top: 50px;}
    input[type="submit"]{margin-top: 10px;}
    .thumbnail img{height: 200px;}
    .col-md-4 {
        max-height: 300px;
        margin-bottom: 40px;
    }

    div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; }
    /*.blocker{z-index:1000;height:100%;width:100%;background: gray; opacity:0.7; position: absolute;}*/
    .blocker{z-index:1000;height:100%;width:100%;background: #ccc; opacity:0.7; position: absolute;}

    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 } 
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }

    #myDiv {
      display: none;
      text-align: center;
    }    
</style>

{% endblock %}
{% block content %}
    <div id="preloader"></div>
    <div id="loader" style="display: none;"></div>
    <div class="row product_page">
        <div class="col-md-3">
            <h1>Filter</h1>
            <form method="POST" action="/" />
                {% csrf_token %}
                <label>Search with name</label>
                <input type="text" name="search_query" />

                <div class="price_range">
                    <label>Price</label>
                    <input maxlength="4" size="4" placeholder="Min" name="min_price" /> - <input maxlength="4" size="4" placeholder="Max" name="max_price" />
                </div>

                <div class="rating">
                    <label>Rating</label>
                    <select name="rating">
                        <option value="-">-</option>
                    {% for c_r in rating %}
                          <option value="{{c_r.0}}">{{c_r.1}}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="tags">
                    <label>Tags</label>
                    <select name="tag">
                        <option value="-">-</option>
                    {% for c_r in tags %}
                          <option value="{{c_r.id}}">{{c_r.word}}</option>
                    {% endfor %}
                    </select>
                </div>

                <input type="submit" class="btn" value="Search Now">
            </form>
            <form method="GET" action="/">
                <input class="btn" type="submit" value="Clear All">
            </form>
        </div>
        <div class="col-sm-9" id="shadow">                        
            {% if products %}
                {% for product in products %}
                  <div class="col-sm-6 col-md-4">
                    <div class="animate-bottom thumbnail">
                      <img class="img-responsive" src="{{product.image.url}}" alt="{{product.name}}">
                      <div class="caption" id="{{ forloop.counter }}">
                        <h3>{{ forloop.counter }}. {{product.name}}</h3>
                        <p>Price : {{product.price}} <a id="paymentButton_{{ forloop.counter }}" data-id="{{product.price}}" style="float: right;" href="#" class="paymentButton btn btn-primary" role="button">Buy Now</a></p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
                <h2>No product found.</h2>
            {% endif %}
        </div>
    </div>

<script type="text/javascript">
    $(".paymentButton").on("click", createPayment);
    function createPayment() {        
        // document.getElementsByClassName("animate-bottom")[0].style.display = "none";
        $('body').addClass('blocker');
        document.getElementById("loader").style.display = "block";
                
        var price = $(this).attr("data-id");   
        $.ajax({
                url: "/create-payment",
                type: "GET",
                data: {},
                success: function(data) {
                    document.getElementById("loader").style.display = "none";
                    $('body').removeClass('blocker');
                    if ('approval_url' in data) {
                        redirect_url = data['approval_url'];
                        window.location = redirect_url;
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest, textStatus, errorThrown);
                }
            });     
    }
</script>  
<script type="text/javascript">
    jQuery(document).ready(function($) {  

        // site preloader -- also uncomment the div in the header and the css style for #preloader
        $(window).load(function(){
            $('#preloader').fadeOut('slow',function(){$(this).remove();});
        });
    });
</script>  
{% endblock %}